---
import { CollectionEntry, getCollection } from "astro:content";
import { fade } from "astro:transitions";

import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main
    class="post mx-auto flex w-full max-w-prose flex-col gap-4"
    transition:animate={fade({ duration: "0.3s" })}
  >
    <header role="presentation">
      <h1 class="text-md">
        {post.data.title} - {formatDate(post.data.publishedAt)}
      </h1>
      <p class="italic">{post.data.description}</p>
    </header>

    <Content />
    <div class="mt-8 flex justify-between">
      <a href="/">{"<- Back to Home"}</a>
      <a href="/posts">{"Show all other posts ->"}</a>
    </div>
  </main>
</Layout>
